@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@layer base {
	:root {
		--background: 220 23% 95%;
		--foreground: 234 71.4% 4.1%;
		--muted: 220 12% 90%;
		--muted-foreground: 220 12% 30%;
		--popover: 220 23% 92%;
		--popover-foreground: 234 16% 25%;
		--card: 220 23% 93%;
		--card-foreground: 234 16% 30%;
		--border: 220 13% 90%;
		--input: 220 13% 87%;
		--primary: 266 85% 58%;
		--primary-foreground: 0 0% 100%;
		--secondary: 266 30% 75%;
		--secondary-foreground: 266 30% 15%;
		--accent: 220 23% 80%;
		--accent-foreground: 220 23% 20%;
		--destructive: 3 87% 37%;
		--destructive-foreground: 3 87% 97%;
		--ring: 266 85% 58%;

		--radius: 0.75rem;

		--sidebar-background: var(--background);
		--sidebar-foreground: var(--foreground);
		--sidebar-primary: var(--primary);
		--sidebar-primary-foreground: var(--foreground);
		--sidebar-accent: var(--accent);
		--sidebar-accent-foreground: var(--foreground);
		--sidebar-border: var(--border);
		--sidebar-ring: var(--ring);
	}
	.dark {
		--background: 255 30% 8%;
		--foreground: 210 20% 98%;
		--muted: 255 12% 15%;
		--muted-foreground: 255 12% 65%;
		--popover: 255 30% 5%;
		--popover-foreground: 266 17% 75%;
		--card: 255 30% 6%;
		--card-foreground: 266 17% 70%;
		--border: 255 20% 13%;
		--input: 255 20% 16%;
		--primary: 264 75% 55%;
		--primary-foreground: 0 0% 100%;
		--secondary: 264 30% 75%;
		--secondary-foreground: 264 30% 15%;
		--accent: 255 30% 23%;
		--accent-foreground: 255 30% 83%;
		--destructive: 10 97% 47%;
		--destructive-foreground: 0 0% 100%;
		--ring: 264 75% 55%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		/* font-feature-settings: "rlig" 1, "calt" 1; */
		font-synthesis-weight: none;
		text-rendering: optimizeLegibility;
	}

	/* Mobile tap highlight */
	/* https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-tap-highlight-color */
	html {
		-webkit-tap-highlight-color: rgba(128, 128, 128, 0.5);
	}

	/* Font face Geist font */

	/* === Scrollbars === */

	::-webkit-scrollbar {
		@apply w-2;
		@apply h-2;
	}

	::-webkit-scrollbar-track {
		@apply !bg-muted;
	}
	::-webkit-scrollbar-thumb {
		@apply rounded-sm !bg-muted-foreground/30;
	}

	/* Firefox */
	/* https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-color#browser_compatibility */
	html {
		scrollbar-color: hsl(215.4 16.3% 46.9% / 0.3);
	}

	html.dark {
		scrollbar-color: hsl(215.4 16.3% 56.9% / 0.3);
	}

	.hide-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.hide-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
	.antialised {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

@media (max-width: 640px) {
	.container {
		@apply px-4;
	}
}
